dataset dan deskripsi data:
https://www.kaggle.com/datasets/johnsmith88/heart-disease-dataset

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [18]:
# memuat dataset
df = pd.read_csv('/content/dataset.csv')

In [19]:
# menampilkan info/isi dataset
df.info

<bound method DataFrame.info of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]>

In [20]:
# menghitung jumlah nilai yang hilang (missing values) 
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [21]:
# Drop kolom yang ingin dihapus
df = df.drop(['sex'], axis=1)

In [22]:
df.info

<bound method DataFrame.info of      age  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0     63   3       145   233    1        0      150      0      2.3      0
1     37   2       130   250    0        1      187      0      3.5      0
2     41   1       130   204    0        0      172      0      1.4      2
3     56   1       120   236    0        1      178      0      0.8      2
4     57   0       120   354    0        1      163      1      0.6      2
..   ...  ..       ...   ...  ...      ...      ...    ...      ...    ...
298   57   0       140   241    0        1      123      1      0.2      1
299   45   3       110   264    0        1      132      0      1.2      1
300   68   0       144   193    1        1      141      0      3.4      1
301   57   0       130   131    0        1      115      1      1.2      1
302   57   1       130   236    0        0      174      0      0.0      1

     ca  thal  target
0     0     1       1
1     0     2       1
2     0     2       1
3     0     2       1
4     0     2       1
..   ..   ...     ...
298   0     3       0
299   0     3       0
300   2     3       0
301   1     3       0
302   1     2       0

[303 rows x 13 columns]>

In [13]:
# Tentukan fitur (X) dan target (y)
X = df.iloc[:, 0:12]
y = df.iloc[:, 12.values

X merepresentasikan fitur atau variabel bebas yang digunakan untuk melakukan prediksi, sedangkan y merepresentasikan variabel dependen atau target yang ingin diprediksi.

In [14]:
# Bagi data menjadi data latih dan data uji dengan rasio 80:20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, train_size=0.9, random_state=45)

In [15]:
# model svm untuk klasifikasi
modelsvm = SVC(kernel='linear')
modelsvm.fit(X_train, y_train)
y_pred = modelsvm.predict(X_test)

In [16]:
# Menghitung akurasi
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

# Menghitung precision
precision = precision_score(y_test, y_pred)
print("Precision: {:.2f}%".format(precision * 100))

# Menghitung recall
recall = recall_score(y_test, y_pred)
print("Recall: {:.2f}%".format(recall * 100))

# Menghitung F1-score
f1 = f1_score(y_test, y_pred)
print("F1-score: {:.2f}%".format(f1 * 100))

Accuracy: 93.55%
Precision: 95.45%
Recall: 95.45%
F1-score: 95.45%